* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Comic Sans MS';
}
button {
    background: #50AEEE;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover {
    background: #51BEFF;
}
.page {
    padding: 15px 15px 15px 192px;
}
.tile {
    width:80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    margin: 0 2px 6px 0;
    border: 1px solid #333;
    border-radius:3px;
    text-align: center;
    line-height: 80px;
    background: #fff;
}
.click-100 {
    background-color:#F50202;
}
.click-75 {
    background-color:#FC8505;
}
.click-50 {
    background-color:#FCCF05;
}
.click-25 {
    background-color:#FCF6A9;
}
.buttons-box {
    position: fixed;
    top:15px;
    left:15px;
}
.buttons-box button {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
}
